/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4e8f7;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1); 
}

h1, h2 {
    text-align: center;
    color: #8c42a8; 
    margin-bottom: 20px;
}


.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #6a1b9a; 
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
    font-size: 16px;
    transition: border-color 0.3s;
}

input:focus,
textarea:focus {
    border-color: #8c42a8;
    outline: none;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-save {
    background-color: #8c42a8;
}

.btn-save:hover {
    background-color: #6a1b9a;
    transform: translateY(-2px);
}

.btn-edit {
    background-color: #3f51b5; 
    margin-right: 5px;
}

.btn-edit:hover {
    background-color: #303f9f;
}

.btn-delete {
    background-color: #e91e63; 
}

.btn-delete:hover {
    background-color: #c2185b;
}


hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #8c42a8, rgba(0, 0, 0, 0));
    margin: 40px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f8e5ff; /* Color de encabezado de tabla */
    color: #8c42a8;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}